[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
pytest = "*"
discord = "*"
"discord.py-stubs" = "*"
alembic = "*"
pre-commit = "*"
pylint = "*"
flake8 = "*"
black = "*"
psycopg2 = "*"
sqlalchemy = {extras = ["asyncio", "mypy"], version = "*"}
furl = "*"
asyncpg = "*"
dependency-injector = ">=4, <5"
sqlalchemy-stubs = "*"
pytest-asyncio = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.10"
